{% extends "layout.html" %}

{% block content %}
		<br>
    <div id='content-container' >
	    <table>
	    	<thead>
	    		<tr class='bg-success'>
	    			<th style="width:30px; text-align:center">#</th>
	    			<th style="width:140px">Image</th>
	    			<th style="width:400px">Title</th>
	    			<th style="width:150px">Author</th>
	    			<th style="width:200px">Date</th>
	    			<th style="width:120px">Source</th>
	    			<th style="width:80px">Share </th>
	    			<th style="width:40px">Offline reading</th>
	    		<tr>
				</thead>
	    	<tbody>
	    			{% for post in posts %}
	    			<tr class='bg-info'>
	    				<td style="text-align: center; font-weight:bold">{{loop.index}}</td>
	    				<td ><img class='index-image' src={{post.image}}></td>
	    				<td >
	    					<a href="/post/{{post.titleEncoded}}">{{post.title}}</a>
	    				</td>
	    				<td >
	    					<a href="/author/{{post.author}}">{{post.author}}</a>
	    				</td>
	    				<td >{{post.created.toString().substring(0,25)}}</td>
	    				<td > <a href={{post.sourceURL}}> {{post.sourceString}} </a> </td>
	    				<td >{{post.likeFB}} <img class='share-heart' src='/images/heart.png'> </td>
	    				<td >

	    				</td>
	    			</tr>
	    			{% endfor %}
	    	</tbody>
	    </table>
	   </div>
{% endblock %}
