<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/style_index.css">
    <link rel="stylesheet" href="/stylesheets/style_postview.css">
    <link rel="stylesheet" href="/stylesheets/style_authorview.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/typeahead.js/dist/typeahead.bundle.min.js"> </script>
  </head>
  <body>
    <div  class="row">
    <!-- Logo implementation -->
        <div class="col-md-2 text-center">
      	     <a href="/">
                <h1 class='text-success'> CoinInfo </h1>
              </a>
             <em class='text-success' id="pricetick-div">
             </em>
        </div>
        <!-- serach box implementation -->
        <div class="col-md-8">
         <br>
          <form action="/searchPost"  method='POST'>
            <div class="input-group">
              <input id="searchBox" type="text" class="typeahead form-control" placeholder='Search a post' name='title'>
              <div class='input-group-btn'>
                <button type='submit' class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
              </div>
            </div>
          </form>
          <br>
          <div class="text-center">
            <button class="btn {% if (active === 'most recent') %} btn-success {% else %} btn-default {% endif %} btn-md">
               <a href="/"> Most recent </a>
             </button>
            <button type="button" class="btn {% if (active === 'trending') %} btn-success {% else %} btn-default {% endif %} btn-md">
              <a href="/Trending"> Trending </a>
            </button>
            <button type="button" class="btn {% if (active === 'best') %} btn-success {% else %} btn-default {% endif %} btn-md">
              <a href="/bestposts"> Best </a>
            </button>
            <button type="button" class="btn {% if (active === 'saved') %} btn-success {% else %} btn-default {% endif %} btn-md">
              <a href="#"> Saved </a>
            </button>
            <button type="button" class="btn {% if (active === 'login') %} btn-success {% else %} btn-default {% endif %} btn-md">
              <a href="#"> Login </a>
            </button>
          </div>
        </div>
    </div>

    {% block content %}{% endblock %}

  </body>

  <!-- Optional theme -->


	<!-- Latest compiled and minified JavaScript -->

  <script type="text/javascript" src="/javascripts/utility.js">
  </script>
  <script type="text/javascript" src=""></script>
</html>