{% extends "layout.html" %}

{% block content %}
	<div class="postview-container col-md-8 col-md-offset-2">
		<div class='postview-title bg-info'>
			<h3> {{post.title}}</h3>
			<a href="/author/{{post.author}}">
				<strong> Author: {{post.author}} </strong>
			</a>
			<span>{{post.created.toString()}}</span>
			{% if isSaved %}
				<button class='btn btn-success savePost' data-titleEncoded={{post.titleEncoded}} data-userStatus={{user}} data-isSaved={{isSaved}}>
					Saved
				</button>
			{% else %}
				<button class='btn btn-default savePost' data-titleEncoded={{post.titleEncoded}} data-userStatus={{user}} data-isSaved={{isSaved}}>
					Save this
				</button>
			{% endif %}
		<div>

		<div class='postview-onepost bg-info'>
			{{post.content|replace('\n','<br>','g')|safe}}
			<br>
			<a href={{post.url}}>{{post.url}} </a>
		</div>
	</div>
{% endblock %}