.postview-title{
	padding-left: 5px;
	padding-right: 5px;
}
.postview-onepost{
	text-align: justify;
	padding-left: 5px;
	padding-right: 5px;
	line-height: 200%;
	font-size: 120%;
}
.postview-container{
 }